.social_media {
  margin-top: auto;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon {
  background-color: var(--secondary);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}
.icon:hover {
  background-color: var(--primary);
}

.icon svg {
  width: 25px;
  height: 25px;
  color: var(--light);
  transition: 0.3s all ease-in-out;
}
.icon:hover svg {
  zoom: 0.9;
}
